form{
    margin: 14px;
    font-size: 16px;
}

label{
    display: inline-block;
    margin: 2px 0;
    width: 70px;
}

button{
    margin: 10px 0;
}

.antall {
    margin: 20px 0;
}

#reset {
    margin-left: 14px;;
}

.error {
    color: red;
}